{# templates/_ait_header.html #}
<div style="margin-bottom:1.5rem; text-align:center;">
  <img
    src="{{ logo_path if logo_path else (logo_b64 if logo_b64 else url_for('static', filename='branding/ait_logo.png')) }}"
    alt="AIT Logo"
    style="height:60px; display:inline-block; vertical-align:middle; margin-right:12px;"
  >
  <div style="
    display:inline-block;
    vertical-align:middle;
    font-size:1.5rem;
    font-weight:700;
    text-transform:uppercase;
    color:#0033a1;
  ">
    Archoney Institute of Technology
  </div>
</div>
