{% extends "shared/ait_certificate_layout.html" %}

{% block document_title %}Completion Certificate{% endblock %}

{% block learner_name %}{{ learner_name }}{% endblock %}
{% block issue_date %}{{ completed_date }}{% endblock %}
{% block certificate_number %}{{ certificate_id }}{% endblock %}
{% block programme_name %}Reading Programme{% endblock %}

{% block achievement %}
Successfully completed the Reading Programme
{% endblock %}

{% block competencies %}
<table class="comp-table">
  <tr>
    <th>Lessons</th>
    <th>Result</th>
  </tr>
  <tr>
    <td>Lessons 1 to 18</td>
    <td>Completed</td>
  </tr>
</table>
{% endblock %}

{% block overall_result %}
Completion Status: Completed Successfully
{% endblock %}

{% block comments %}
The learner demonstrates confident reading ability with good comprehension and vocabulary development. Continued practice is recommended to strengthen fluency.
{% endblock %}

{% block disclaimer %}
This certificate recognises successful participation and completion of the AIT Reading Programme.
{% endblock %}
